.layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logoutModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logoutModalBtns {
    display: flex;
    gap: 20px;
}
